<!-- _includes/projects.html -->
<div class="project-card">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif %}
    <div class="project-card-inner">
      {%- if project.img %}
      <div class="project-card-img">
        <img src="{{ project.img | relative_url }}" alt="{{ project.title }}">
      </div>
      {%- endif %}
      <div class="project-card-body">
        <h3 class="project-card-title">{{ project.title }}</h3>
        <p class="project-card-desc">{{ project.description }}</p>
      </div>
    </div>
  </a>
</div>