/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$purple-color};
  --global-hover-color: #4f46e5;
  --global-footer-bg-color: #{$white-color};
  --global-footer-text-color: #{$grey-color};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #e5e7eb;
  --global-card-bg-color: #ffffff;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #e4e4e7;
  --global-text-color-light: #a1a1aa;
  --global-theme-color: #818cf8;
  --global-hover-color: #a5b4fc;
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #a1a1aa;
  --global-footer-link-color: #e4e4e7;
  --global-distill-app-color: #a1a1aa;
  --global-divider-color: #2e2e33;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
