/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Typography
$font-family-sans:    -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Roboto, Helvetica, Arial, sans-serif;
$font-family-mono:    'JetBrains Mono', 'Fira Code', 'Consolas', monospace;
$base-font-size:      1rem;
$base-line-height:    1.7;


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #67b0c6 !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #6366f1 !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #6b7280 !default;
$grey-color-light:    #d1d5db;
$grey-color-dark:     #18181b;
$grey-900:            #1e1e22;

$white-color: #fafafa !default;
$black-color: #1a1a2e !default;


// Theme colors

$code-bg-color-light:     #f6f8fa;
$code-bg-color-dark:      #1e1e2e !default;
