<div class="repo-card">
  <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener noreferrer">
    <div class="repo-card-inner repo-card-user">
      <img class="repo-user-avatar" src="https://github.com/{{ include.username }}.png?size=80" alt="{{ include.username }}">
      <div>
        <span class="repo-card-name">{{ include.username }}</span>
        <p class="repo-card-desc">GitHub profile</p>
      </div>
    </div>
  </a>
</div>
